/* adminLogin.css */

/* Standard font size for compatibility */
.text {
    -fx-font-size: 14; /* Adjust the font size as needed */
}

/* Style for the title label */
.label-title {
    -fx-font-weight: bold;
}

/* Style for buttons */
.button {
    -fx-font-weight: bold;
    -fx-background-color: #FFD700; /* Yellow background color */
    -fx-text-fill: #000000; /* Black text color */
}
